
body{
    background-color: rgb(234, 234, 234);
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

#h1{
    font-size: 300%;
    text-align: center;
    /* margin-top: 110px; */
    /* border: 1px solid; */
}

#h2{
    text-align: center;
    /* margin-top: -20px; */
}

#wrapp{
margin-top: 50px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* @media only screen and (max-width: 600px) {
    #logo{
        width: 200%;
        margin: auto;
    }
  } */

  #logo2 {
    width: 100%;
}
#logoDiv{
    width: 12%;
    margin: auto;
    margin-bottom: 0;
    margin-top: 0;
    /* border: 1px solid wheat; */
}

#form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 25px;
    /* border: 1px solid white; */
}

input{
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

button{
    padding: 10px 20px;
    background-color: #4f4f4f;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: white;
    cursor: pointer;
    transition: .5s;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

button:hover{
    background-color: rgba(81, 102, 255, 0.85);
    color: #ffffff;
}

